name: PR Comment

on:
  pull_request_review_comment:
    types: [created]
  issues:
    types: [opened, assigned]

permissions:
  contents: write
  pull-requests: write

jobs:
  test-action:
    name: GitHub Actions Test
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_review_comment' && contains(github.event.comment.body, '@h2ogpte')) ||
      (github.event_name == 'issues' && contains(github.event.issue.body, '@h2ogpte'))
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Test Local Action
        id: test-action
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          h2ogpte_api_key: ${{ secrets.H2OGPTE_API_KEY }}
